.status-div{
  align-items: center;
  display: flex;
  justify-content: center;
}

.star-icon{
  margin-left: 6px;
}

.star-icon:hover{
 transform: scale(1.25);
 cursor: pointer;
}

@media screen and (max-width: 640px) {
  .status-div{
    align-items: center;
    display: flex;
    justify-content: right;
  }
}