.nav-menu {
  width: 100%;
  background-color: #333;
  display: flex;
  align-items: center;
  height: 60px;
  z-index: 1000; 
}

.nav-logo {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 20px;
  padding: 14px 32px;
}

.nav-icon{
  margin-right: 8px;
}

.menu-items {
  display: flex;
  align-items: center;
  gap: 16px;
}

.menu-items a {
  color: #f2f2f2;
  text-decoration: none;
  padding: 8px 16px;
  width: 100%;
  font-size: 16px;
}

.menu-items a:hover {
  background-color: #ddd;
  color: black;
}

.icon {
  display: none;
  color: #f2f2f2;
  font-size: 24px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .menu-items {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
    gap: 0;
    text-align: center;
  }

  .menu-items a {
    padding: 16px;
    border-top: 1px solid #444;
  }

  .menu-items {
    display: flex;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0s ease;
  }
  
  .menu-items.open {
    display: flex;
    opacity: 1;
    max-height: 500px;
  }

  .icon {
    display: block;
  }
  
  .nav-logo {
    padding: 14px 0px;
  }
}

#hamburger-icon{
  transition: transform 0.5s ease;
}
#hamburger-icon.clicked{
  transform: rotate(90deg);
}